.title {
  color: #98FF4C;
}

.text {
  margin-top: 250px;
  color: #DEF1CD;
}

.text {
  font-size: 1.5em;
}

.about-container {
  border: 1px solid #98FF4C;
  margin: 50px 10px 20px 10px;
  padding: 50px;
  border-radius: 10px;
  margin-top: 50px;
}

@media (max-width: 900px) {
  .about-container {
    margin: 50px 10px 20px 10px;
    padding: 1px;
    padding-inline: 10px;
  }

  .title {
    margin: 10px;
  }
}