.contact-container {
    max-width: 600px;
    margin-top: 10px;
    padding: 20px;
}

.contact-container h1 {
    font-size: 2.5rem;
    color: #44cfcb;
    margin-bottom: 25px;
}

.contact-container label {
    margin-bottom: 5px;
    font-size: 1.6rem;
    color: #44cfcb;
}

.contact-container input,
.contact-container textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #122c34; 
    border-radius: 5px;
    font-size: 1.4rem;
    background-color: #f5f5f5; 
    width: 200%;
}

.contact-container button {
    padding: 15px;
    font-size: 1.4rem;
    width: 25%;
    color: #fff; 
    background-color: #4ea5d9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-container button:hover {
    background-color: #386c0b; 
}

.contact-container .error {
    color: #b5446eff; 
    font-size: 1.2rem;
    margin-top: -15px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    .contact-container input,
    .contact-container textarea {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #122c34; 
        border-radius: 5px;
        font-size: 1.4rem;
        background-color: #f5f5f5; 
        width: 100%;
    }
  }