.contact-container {
    width: 90%;
    margin: 40px auto;
    padding-inline: 40px;
    padding: 30px;
    border: 1px solid #98FF4C;
    border-radius: 10px;
}

.contact-container h1 {
    font-size: 2.5rem;
    color: #98FF4C;
    margin-bottom: 100px;
}

.contact-container label {
    margin: 10px 0 5px 0;
    color: #98FF4C;
}

.contact-container input,
.contact-container textarea {
    padding: 10px;
    margin-bottom: 70px;
    border: 2px solid #98FF4C; 
    border-radius: 5px;
    font-size: 1.4rem;
    background-color: #DEF1CD; 
    width: 100%;
}

.contact-container button {
    padding: 15px;
    font-size: 1.4rem;
    width: 25%;
    color: #0C0C0C; 
    background-color: #98FF4C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #DEF1CD;
}

.contact-container button:hover {
    background-color: #DEF1CD;  
} 

.contact-container .error {
    color: #b5446eff; 
    font-size: 1.2rem;
    margin-top: -15px;
    margin-bottom: 15px;
}

@media (max-width: 1199px) {
    .contact-container {
        padding: 15px;
    }

    .contact-container input,
    .contact-container textarea,
    input #email {
        width: 100%;
    }
} 

