
.experience,
.education,
.contact-info {
    color: #98FF4C;
}

a, 
.location,
.project,
p,
.date {
    color: #DEF1CD;
    text-decoration: none;
}

a:hover {
    color: #98FF4C;
}

.my-location,
.name,
h2,
.skill-def,
.project-description {
    color: #98FF4C;
    text-decoration: none;
}

.contact-info,
.contact-link,
.project,
.experience,
.education,
p {
    font-size: 1.2em;
}

.separator {
    margin: 0 8px;
    font-weight: bold;
    color: #98FF4C;
}

.separator-1 {
    margin: 0 8px;
    font-weight: bold;
    color: #DEF1CD;
}

li {
    font-size: 1.1em;
}

.resume-container {
    display: flex;
    flex-direction: column;
    padding-inline: 2%;
    border: 1px solid #98FF4C;
    border-radius: 10px;
    margin-top: 50px;
    margin: 50px 10px 20px 10px; 
}

.name {
    display: flex;
    justify-content: center;
}

.contact-info {
    display: flex;
    justify-content: center;
}

.contact-link {
    display: flex;
    justify-content: center;
}

.section-title {
    display: flex;
    justify-content: center;
}

.work-with-date {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 600px) {
    .resume-container {
        margin-top: 50px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
     
    .location {
        margin-bottom: 10px;
    }

    .separator-1 {
        display: none;
    }

    .work-with-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .left-container,
    .right-container {
        flex: 1;
        flex-direction: column;
    }
    }