:root {
    --sage: #b0c4b1;
    --prussian-blue: #003153;
    --raspberry-rose: #b3446c;
    --royal-blue: #4169e1;
}

.resume-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--sage);
    color: var(--prussian-blue);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--raspberry-rose);
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info a {
    color: var(--royal-blue); 
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.section-title {
    font-size: 1.8rem;
    margin-top: 20px;
    color: var(--raspberry-rose);
}

.summary,
.skills,
.project,
.experience,
.education,
.references {
    margin-bottom: 20px;
    color: var(--prussian-blue); 
}

.project a,
.experience a,
.education a {
    color: var(--royal-blue);
}

.project a:hover,
.experience a:hover,
.education a:hover {
    text-decoration: underline;
}

.references {
    margin-bottom: 10px; 
    
}

.references p {
    margin: 5px 0; 
    color: var(--prussian-blue);
}

