p,
.experience,
.project,
.education {
    color: #98FF4C;
}

.contact-info,
.skill-def,
.project-description,
.date,
.location {
    color: #98FF4C;  
}

.name,
h2 {
    color: #16EFC6;
}

.contact-info,
.contact-link,
.project,
.experience,
.education,
p {
    font-size: 1.2em;
}

a {
    color: #16EFC6;
    text-decoration: none;
    transition: color 0.3s ease;
}

.separator {
    color: #23DAE2;  
    margin: 0 8px;
    font-weight: bold;
}

.separator-1 {
    color: #44cfcb;  
    font-weight: bold;
}

li {
    font-size: 1.1em;
}

.resume-container {
    display: flex;
    flex-direction: column;
    padding-inline: 2%;
}

.name {
    display: flex;
    justify-content: center;
}

.contact-info {
    display: flex;
    justify-content: center;
}

.contact-link {
    display: flex;
    justify-content: center;
}

.section-title {
    display: flex;
    justify-content: center;
}

.work-with-date {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
     
    .location {
        margin-bottom: 10px;
    }

    .separator-1 {
        display: none;
    }

    .work-with-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .left-container,
    .right-container {
        flex: 1;
        flex-direction: column;
    }
    }