.footer {
    text-align: center;
    padding: 1em 0;
    position: static;
    width: 100%;
  }
  
  .footer .social-icons {
    margin-bottom: 30px;
  }
  
  .footer .social-icons a {
    color: #DEF1CD;
    margin: 0 30px;
    font-size: 4.5rem;
    transition: color 1.5s ease;
  }
  
  .footer .social-icons a:hover {
    color: #98FF4C;
  }
