.header-fluid {
  width: 100%;
}

.my-name {
  text-decoration: none;
  font-size: 2.5rem;
  color: #98FF4C;
}

.my-name:hover {
  color: #DEF1CD;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(152, 255, 76, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-navbar {
  border: 1px solid #98FF4C;
  border-radius: 10px;
}

.react-icon {
  margin-right: 5px;
  margin-bottom: 2px;
}

.nav-link {
  color: #DEF1CD;
  margin: 15px;
  font-size: 1.3rem;
}

.nav-link:active {
  color: #98FF4C !important;
}

.nav-link:hover {
  color: #98FF4C;
}

.nav-link:focus {
  color: #98FF4C;
}