.container-fluid {
  background-color: #1A3A52;
  height: 115px;
  margin: 0;
  padding: 0;
}

.navbar.navbar-expand-lg {
  padding: 0;
}

.my-name {
  font-size: 3em;
  text-decoration: none;
  color: #4ea5d9;
  margin-left: 15px;
}

.my-name:hover {
  color: #44cfcb;
}

.navbar-toggler {
 background-color: #4ea5d9; 
 margin-right: 10px;
}

.navbar-nav {
  background-color: #1A3A52;
}

.nav-item {
  font-size: 1.5em;
  margin-right: 45px;
}

.nav-link {
  color: #4ea5d9; 
  text-decoration: none;
}

.nav-link:hover {
  color: #44cfcb; 
}

.navbar-nav .nav-item .nav-link.active {
  color: #44cfcb !important; 
}

.nav-link .react-icon {
  color: inherit; 
}

