.dvs-header {
  background-color: #98FF4C;
  padding: 10px 5px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.my-name {
  font-size: 2em;
  color: #015247;
}

.dvs-header__trigger {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
}

.dvs-header__menuItems ul {
  display: flex;
  list-style: none
}

.dvs-header__menuItems.isOpen ul {
  flex-direction: column;
}

.nav-text {
  display: flex;
  align-items: center;
  color: #015247;
  text-decoration: none;
  padding: 8px;
}

.dvs-header__list li a:hover {
  color: #0c0c0c;
}
.dvs-header__list li a:active {
  color: #0c0c0c;
}

@media (max-width: 550px) {
  .dvs-header__trigger {
    display: block;
  }

  .dvs-header__menuItems {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #98FF4C;
    flex-direction: column;
    align-items: center;
  }

  .dvs-header__menuItems.is-open {
    display: flex;
  }

  .dvs-header__list li {
    margin: 10px 0;
  }
}
